@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 14 99% 47%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
--accent: 210 70% 96.1%;
  --muted: 210 40% 96.1%;
  --destructive: 0 84.2% 60.2%;
  --popover: 0 0% 100%;
  --card: 0 0% 100%;

  --input: 214.3 31.8% 91.4%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --secondary: 217.2 32.6% 17.5%;
  --accent: 217.2 32.6% 17.5%;
  --muted: 217.2 32.6% 17.5%;
  --destructive: 0 62.8% 30.6%;
  --popover: 222.2 84% 4.9%;
  --card: 222.2 84% 4.9%;

  --input: 217.2 32.6% 17.5%;
}

.container {
  @apply mx-auto px-4 md:px-8 lg:px-16 xl:px-32;
}
